{{#x-component-doc title="md-pushpin" as |doc|}}
  {{#doc.params as |p|}}
    {{#p.param name="top" type="integer" default="0"}}Top threshold - number of pixels from screen top, where the component becomes fixed{{/p.param}}
    {{#p.param name="bottom" type="integer" default="Infinity"}}Top threshold - number of pixels from screen top, where the component stops being fixed{{/p.param}}
    {{#p.param name="offset" type="integer" default="0"}}Offset from top of window where the component is fixed{{/p.param}}
  {{/doc.params}}

  {{#doc.actions as |a|}}
    {{#a.action name="on-pin"}}Called when the component is pinned{{/a.action}}
    {{#a.action name="on-unpin"}}Called when the component is un-pinned{{/a.action}}
  {{/doc.actions}}
{{/x-component-doc}}



{{#x-example title="Pushpin" name="pushpin-basic"}}
<p>The pushpin component fixes content to a position on the screen while the user scrolls. Typically, the use case is to fix a navigation element the the screen as the user scrolls down, past a certain threshold.</p>

{{/x-example}}


<div style="height: 1000px">

</div>
